In [ ]:
import pandas as pd
import numpy as np
import math
import matplotlib as plt
import csv
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/insurance.csv')
print(df.shape)
df.head(10)

(1338, 7)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [ ]:
df['sex']= df['sex'].map({'female':0,'male':1})
df['smoker']= df['smoker'].map({'no':0,'yes':1})
df['region']= df['region'].map({'southwest':1,'southeast':2,'northwest':3,'northeast':4})
df.head(10)

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520
5   31    0  25.740         0       0       2   3756.62160
6   46    0  33.440         1       0       2   8240.58960
7   37    0  27.740         3       0       3   7281.50560
8   37    1  29.830         2       0       4   6406.41070
9   60    0  25.840         0       0       3  28923.13692

In [ ]:
df.info()
df.isnull().values.any()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   int64
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   int64
 5   region    1338 non-null   int64
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 73.3 KB

False

In [ ]:
import pandas_profiling as pp
import seaborn as sns
import sklearn

In [ ]:
df_corr = df.corr()
df_corr

               age       sex       bmi  children    smoker    region   charges
age       1.000000 -0.020856  0.109272  0.042469 -0.025019 -0.002127  0.299008
sex      -0.020856  1.000000  0.046371  0.017163  0.076185 -0.004588  0.057292
bmi       0.109272  0.046371  1.000000  0.012759  0.003750 -0.157566  0.198341
children  0.042469  0.017163  0.012759  1.000000  0.007673 -0.016569  0.067998
smoker   -0.025019  0.076185  0.003750  0.007673  1.000000  0.002181  0.787251
region   -0.002127 -0.004588 -0.157566 -0.016569  0.002181  1.000000  0.006208
charges   0.299008  0.057292  0.198341  0.067998  0.787251  0.006208  1.000000

In [ ]:
X = df[['age','bmi','smoker','sex','children']]
Y = df['charges']

LinearRegression

In [ ]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from scipy.sparse.linalg.isolve.minres import sqrt
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

x_train,x_test = train_test_split(X,test_size=0.2,random_state=42)
y_train,y_test = train_test_split(Y,test_size=0.2,random_state=42)
regressor = LinearRegression()
regressor.fit(x_train,y_train)
y_predicsion = regressor.predict(x_test)
y_predicsion = np.round(y_predicsion)
RMSE = sqrt(mean_squared_error(y_test,y_predicsion))
print(RMSE)

5829.177202516803

In [ ]:
print(regressor.score(x_test, y_test))

0.7811302113434097